@font-face {
    font-family: 'Segoe UI Variable Static Display';
    src: url("font/Segoe UI Variable Display/Segoe-UI-Variable-Static-Display.ttf") format('truetype'), local('Segoe UI Variable Display'), local('Segoe UI Variable');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #bfbbee;
}

.topnav {
    overflow: hidden;
    background-color: #202134;
    padding: 14px 16px;
}

.topnav a {
    text-align: center;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    float: right;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #B4C1E7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px; 
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #202134;
}

.sidebar .closebtn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    color: white;
    width: 49.7%;
    background-color:#7F64AD;
      border-style: none;
      border-width: 0.5px;
     margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
      transition: 0.3s ease;
      padding: 20px;
  }
  
.box:hover {
      border-style: none;
      color: white;
      background-color: #714C64;
      transition: 0.3s ease;
  }
  
.box img {
      float: right;
      max-width: 200px;
      max-height: 200px;
      margin-right: 10px;
      align-items: center;
      padding: 10px;
      opacity: 1.0;
  }

.box-large{
    color: white;
    width: 100%;
    background-color:#7F64AD;
      border-style: none;
      border-width: 0.5px;
/*       margin-top: 10px;
    margin-bottom: 10px; */
    box-sizing: border-box;
      transition: 0.3s ease;
      padding: 20px;
}

.box-large:hover {
    border-style: none;
    color: white;
    background-color: #714C64;
    transition: 0.3s ease;
}

.box-large img {
    float: right;
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
    align-items: center;
    padding: 10px;
    opacity: 1.0;
}

@media (max-width: 768px) {
    .box {
        width: 100%;
        margin-bottom: 10px;
    }
    body {
        padding: 10px;
    }
}

.box-header {
    background-color: #202134;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    font-size: 30px;
}

img {
    margin: 0 auto;
    max-width: 100%;
/*     margin-bottom: 5px; */
}

.footer {
  text-align: center;
  font-size: 13px;
  font-family: 'Segoe UI Variable Static Display', sans-serif;
  background-color: #202134;
  color: white;
  padding: 1px;
}

.footer-link {
  text-decoration: none;
  color: white;
}
